/* Navbar.css */
.navbar-container {
    width: 100%;
    /*background-color: #2c3e50; /* خلفية داكنة للـ Navbar */
    
  }
  
  .navbar-button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-transform: none;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-button:hover {
    background-color: #3498db; /* تغيير اللون عند التمرير */
    color: #fff;
  }
  
  /* عندما تكون الشاشة صغيرة (مثل الهواتف المحمولة) */
  @media (max-width: 768px) {
    .navbar-container {
      background-color: #34495e;
    }
  
    .navbar-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .navbar-container .MuiToolbar-root {
      flex-direction: column; /* جعل العناصر عمودية في الأجهزة الصغيرة */
    }
  }
  